@import '../../sass/abstracts/variables';

.searchbox {
	width: 60%;
	padding: 1rem 8rem;
	border-radius: 3rem;
	border: 2px solid rgba($color-black, 0.5);
	transition: 0.2s all;
	font-size: 2rem;

	&::placeholder {
		color: rgba(156, 156, 156, 0.8);
	}

	&:focus {
		outline: none;
		border-color: $color-primary-green;
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
	}
}
