@import '../../sass/abstracts/variables';
@import '../../sass/components/container';

.navbar {
	min-width: 100%;
	//box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
	text-transform: uppercase;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__brand {
		font-size: 3rem;
		color: $color-primary-green;
	}

	&__item:link,
	&__item:visited {
		text-decoration: none;
		background-color: none;
		border-radius: 0.5rem;
		font-size: 1.8rem;
		padding: 1rem 2rem;
		color: $color-white;
		text-transform: uppercase;
		transition: 0.4s all;
	}

	&__item:hover {
		color: $color-primary-green;
	}
}
