@import '../abstracts/variables';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	background: linear-gradient(to right, #8e2de2, #4a00e0);
	line-height: 2.5rem;
}
